# Wikidata Wikifier Service

In [43]:
import os
import requests
import pandas as pd
from io import StringIO

## Setup parameters

In [58]:
wikifier_service_url = "http://ckg07:1703/wikify"
# wikifier_service_url = "http://localhost:1703/wikify"
input_file = '/Users/amandeep/Downloads/companies.csv'
column_to_wikify = "Company"

## Peek at the input file

In [59]:
pd.read_csv(input_file).fillna("")

,Rank,Company,Headquarters,Industry,Revenue (billion $),Profits (billion $),Assets (billion $),Market Value (billion $)
0,1,Citigroup,USA,Banking,146.56,21.54,"1,884.32",247.42
1,2,Bank of America,USA,Banking,116.57,21.13,"1,459.74",226.61
2,3,HSBC,UK,Banking,121.51,16.63,"1,860.76",202.29
3,4,General Electric,USA,Conglomerate,163.39,20.83,697.24,358.98
4,5,JPMorgan Chase & Co.,USA,Banking,99.30,14.44,"1,351.52",170.97
5,6,American International Group,USA,Insurance,113.19,14.01,979.41,174.47
6,7,ExxonMobil,USA,Oil and gas,335.09,39.50,223.95,410.65
7,8,Royal Dutch Shell,Netherlands,Oil and gas,318.85,25.44,232.31,208.25
8,9,UBS,Switzerland,Diversified Financials,105.59,9.78,"1,776.89",116.84
9,10,ING Group,Netherlands,Diversified Financials,153.44,9.65,"1,615.05",93.99
10,11,BP,UK,Oil and gas,265.91,22.29,217.60,198.14
11,12,Toyota,Japan,Automotive,179.02,11.68,243.60,217.69
12,13,Royal Bank of Scotland,UK,Banking,77.41,12.51,"1,705.35",124.13
13,14,BNP Paribas,France,Banking,89.16,9.64,"1,898.19",97.03
14,15,Allianz,Germany,Insurance,125.33,8.81,"1,380.88",87.22
15,16,Berkshire Hathaway,USA,Diversified Financials,98.54,11.02,248.44,163.79
16,17,Wal-Mart,USA,Retailing,348.65,11.29,151.19,201.36
17,18,Barclays,UK,Banking,67.71,8.95,"1,949.17",94.79
18,19,Chevron,USA,Oil and gas,195.34,17.14,132.63,149.37
19,19,Total S.A.,France,Oil and gas,175.05,15.53,138.82,152.62

## Call via Python

In [60]:
def call_wikifier(url, k=1):
    file_name = os.path.basename(input_file)
    url += f'?k={k}&columns={column_to_wikify}'

    files = {
        'file': (file_name, open(input_file, mode='rb'), 'application/octet-stream')
    }
    resp = requests.post(url, files=files)

    s = str(resp.content, 'utf-8')

    data = StringIO(s)

    return pd.read_csv(data, header=None)

In [63]:
df = call_wikifier(wikifier_service_url, k=3)

In [64]:
df.fillna("")

,0,1,2,3,4,5,6,7,8,9,10
0,Rank,Company,Headquarters,Industry,Revenue (billion $),Profits (billion $),Assets (billion $),Market Value (billion $),kg_id,kg_label,score
1,1,Citigroup,USA,Banking,146.56,21.54,"1,884.32",247.42,Q219508|Q1023765|Q856322,Citigroup|CIT Group|CITIC Group,0.99|-0.34|-0.7
2,2,Bank of America,USA,Banking,116.57,21.13,"1,459.74",226.61,Q487907|Q50316068|Q2882627,Bank of America|Bank of America|Bank of Africa,0.97|0.28|-0.01
3,3,HSBC,UK,Banking,121.51,16.63,"1,860.76",202.29,Q190464|Q29502311|Q29506693,HSBC|Hsbc|Hsbc,0.42|0.0|-0.01
4,4,General Electric,USA,Conglomerate,163.39,20.83,697.24,358.98,Q54173|Q844762|Q5531862,General Electric|General Electric|General Elec...,0.85|0.32|-0.24
5,5,JPMorgan Chase & Co.,USA,Banking,99.30,14.44,"1,351.52",170.97,Q192314|Q5087090|Q1676687,JPMorgan Chase|Chase|270 Park Avenue,0.63|-0.28|-0.32
6,6,American International Group,USA,Insurance,113.19,14.01,979.41,174.47,Q212235|Q4745572|Q4743779,American International Group|Americana Group|A...,0.97|-0.18|-0.21
7,7,ExxonMobil,USA,Oil and gas,335.09,39.50,223.95,410.65,Q156238|Q39946001|Q30265945,ExxonMobil|ExxonMobil Upstream Research Co|Exx...,1.0|-0.8|-0.83
8,8,Royal Dutch Shell,Netherlands,Oil and gas,318.85,25.44,232.31,208.25,Q154950|Q98551764|Q27612595,Royal Dutch Shell|Jeff Dutch|Gin Dutch,1.0|-0.56|-0.58
9,9,UBS,Switzerland,Diversified Financials,105.59,9.78,"1,776.89",116.84,Q446117|Q193199|Q45137700,UBS|UBS|UBS Optimus Foundation,0.15|-0.45|-0.71
10,10,ING Group,Netherlands,Diversified Financials,153.44,9.65,"1,615.05",93.99,Q645708|Q16870998|Q30088713,ING Group|Ing|Ing,0.98|-0.08|-0.22
11,11,BP,UK,Oil and gas,265.91,22.29,217.60,198.14,Q152057|Q27077632|Q93430545,BP|BP|BP,0.8|0.38|0.31
12,12,Toyota,Japan,Automotive,179.02,11.68,243.60,217.69,Q201117|Q28878172|Q17669963,Toyota|Toyota|Toyota,0.73|0.38|0.29
13,13,Royal Bank of Scotland,UK,Banking,77.41,12.51,"1,705.35",124.13,Q3991146|Q29492492|Q26317774,Tiburon Challenger|Royal Bank of Scotland|Roya...,0.17|0.13|0.1
14,14,BNP Paribas,France,Banking,89.16,9.64,"1,898.19",97.03,Q499707|Q4836133|Q1230166,BNP Paribas|BNP Paribas Hong Kong|Paris Masters,0.99|-0.3|-0.35
15,15,Allianz,Germany,Insurance,125.33,8.81,"1,380.88",87.22,Q103889734|Q1249727|Q683196,Allianz|Allianz|Allianz,0.13|0.13|-0.07
16,16,Berkshire Hathaway,USA,Diversified Financials,98.54,11.02,248.44,163.79,Q217583|Q67284726|Q54888651,Berkshire Hathaway|Berkshire|Hathaway,0.74|-0.12|-0.15
17,17,Wal-Mart,USA,Retailing,348.65,11.29,151.19,201.36,Q483551|Q7961235|Q5867156,Walmart|Wal-Mart v. Dukes|history of Walmart,-0.04|-0.32|-0.61
18,18,Barclays,UK,Banking,67.71,8.95,"1,949.17",94.79,Q245343|Q29507414|Q2535085,Barclays|Barclays|Barclay,0.96|-0.64|-0.84
19,19,Chevron,USA,Oil and gas,195.34,17.14,132.63,149.37,Q1348031|Q103897277|Q26935188,chevron|Chevron|chevron,0.19|0.16|0.07
20,19,Total S.A.,France,Oil and gas,175.05,15.53,138.82,152.62,Q166280|Q61686262|Q6130986,S.A.|S.A.|S.A.,-0.13|-0.15|-0.18

## Call using `curl`

In [32]:
url  =  f'{wikifier_service_url}?k=3&columns={column_to_wikify}'

In [35]:
!echo " curl -XPOST -F "file=@$input_file"  $url "

 curl -XPOST -F file=@/Users/amandeep/Github/wikidata-wikifier/wikifier/sample_files/cricketers.csv  https://dsbox02.isi.edu:8888/wikifier/wikify?k=3&columns=cricketers